<ol>
<li>Shows a random photo (logic in the application controller that retrieves random photo)</li>
<li>button -> value=left  it redirects to swipe.erb</li>
<li>button -> value=right it redirects to photo.restaurant page</li>