<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to MealSwipe</h2>

    <div class="content">
      <p>Welcome to MealSwipe.  Discover hot restaurants in your neighborhood.  See where your friends want to eat.
      Swipe through hundreds of restaurants in your area.  It's like a dating app for your dinner.
      <a href="/signup">Sign-up</a> and <a href="/login">Log-in</a> to save all the matches you make.</p>
    </div>

    <div class="sidebar">
      <ul>
        <li><a href="/signup">Sign-up</a></li>
        <li><a href="/login">Log-in</a></li>
        <li><a href="/swipe">Swipe, try it out</a></li>
      </ul>
    </div>

  </div>
</div>
